<p>
  Bonjour,
</p>

<p>
  Ci-joint les visites mensuelles <%= @localized_montly_remort_name %>.
  <br>
  En bas de certaines, il y a des commentaires, merci d'en tenir compte si vous êtes concernés.
</p>

<p>
  Cordialement,
</p>

<p>
  <%= image_tag(tech_visit_card_url(@monthly_report.tech)) %>
</p>
